[run]
source = src
omit =
    */__init__.py
    */tests/*
    setup.py
    src/main/run_command.py
    src/main/base_commands/base_command.py

disable_warnings = module-not-imported

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError